nav {
    background-color: var(--verydarkgrey);
    padding: 0 20px 0 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

#navBg{
    background-color: var(--navgrey);
    padding: 20px 0 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-left: 5px solid #fff;
    border-right: 5px solid #fff;
}

#navTitle, .navLink {  
    color: #fff;
    text-decoration: none;
}

#navTitle {
    font-size: 2em;
    margin-left: 10px;
}

#navPortfolio {
    color: darkgray;
    font-size: 0.7em;
}

#linkContainer {
    margin-right: 50px;
}

.navLink {
    font-size: 1.3em;
    border: 3px solid black;
    border-left: 0;
    padding: 15px 20px 15px 20px;
    background-color: var(--verydarkgrey);
}

.navLink:hover{
    background-color: #fff;
    color: var(--verydarkgrey);
    transition: background-color 0.5s ease-in;
}

#firstLink {
    border-left: 3px solid black;
}